.alarm-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flip-card {
    background-color: transparent;
    width: 90%;
    height: 150px;
    margin: 5%;
    border-radius: 5px;
    box-shadow: -1px -1px 4px 4px #222;
    font-family: sans-serif;
    text-align: center;
    perspective: 1000px;
}

@media (min-width: 720px) {
    .flip-card {
        background-color: transparent;
        width: 20%;
        height: 150px;
    }
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
}

.flip-card-front {
    background: #534bae;
    color: white;
    z-index: 2;
}

.flip-card-back {
    background-color: #000051;
    color: white;
    font-size: 1.3em;
    transform: rotateY(180deg);
    z-index: 1;
}

.alarm-title {
    margin-top: 0;
}

.alarm-time {
    margin-top: 0;
    font-size: 5em;
}

.new-alarm {
    background: #534bae;
    position: fixed;
    color: white;
    right: 0;
    bottom: 100px;
    width: 75px;
    height: 75px;
    margin: 1%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: -1px -1px 4px 4px #222;
    border-radius: 100%;
    transition: 1s;
    overflow: hidden;
}

.new-alarm>p {
    margin: 0;
    font-size: 4em;
}

.new-alarm.active {
    width: 98%;
    height: 250px;
    border-radius: 0;
}


@media (min-width: 720px) {
    .new-alarm.active {
        width: 30%;
    }
}

.demo-non-form {
    color: initial;
    width: 100%;
    padding: 10px;
    margin: 6px 0 12px 0;
    border: 1px solid #ccc;
    border-radius: 0;
    font-family: arial, verdana, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-appearance: none;
}


.hidden {
    display: none;
}