.event-notification {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1%;
    min-width: 10px;
    min-height: 10px;
    background: #000051;
    border-radius: 100%;
}

.event-preview {
    width: 100%;
    max-height: 140px;
    overflow-y: auto;
    margin: auto;
    background: #534bae;
    z-index: 1;
    color: white;
    text-align: center;
    margin-top: 2%;
    border-radius: 5px;
    box-shadow: -1px -1px 4px 4px #222;
    font-family: sans-serif;
}

@media (min-width: 720px) {
    .event-preview {
        width: 40%;
    }
}

@media (min-height: 800px) {
    .event-preview {
        max-height: 250px;
    }
}