.group-container {
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    justify-content: space-around;
}

.group-instance {
    width: 100%;
    margin: 3%;
    background: #534bae;
    color: white;
    border-radius: 10px;
    box-shadow: -1px -1px 4px 4px #222;
    font-family: sans-serif;
    padding-left: 2%;
}

@media (min-width: 720px) {
    .group-instance {
        width: 40%;
    }
}

.group-name {
    text-align: center;
    margin-top: 0;
}

.event-button,
.member-button {
    background: #000051;
    color: #ffffff;
    border: none;
    outline: none;
    margin-bottom: 1%;
    margin-right: 1%;
    box-shadow: 1px 1px #222;
    border-radius: 5px;
    transition: 0.2s;
}

.event-button:hover,
.member-button:hover {
    transform: translate(1px, 1px);
    box-shadow: none;
}