* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #263238;
}

.menu-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
}

.page-selector {
    flex: 1;
    padding: 1%;
    border: none;
    border-radius: 5px 5px 0 0;
    outline: none;
    background: #000;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page-selector>img {
    width: 40px;
    height: 40px;
    flex: 1 0 100%;
    margin: 0;
}

.page-selector>p {
    margin: 0;
}

.page-selector:last-child {
    border-right: none;
}

.page-selector.active {
    background: #534bae;
}